databases:
  db1:
    dsn: DATABASE_TYPE://DATABASE_USER:DATABASE_PASSWORD@DATABASE_HOSTNAME:DATABASE_PORT/DATABASE_NAME
    keep-connected: false
    labels:
      lblservice: QUERY_SERVICE_LABEL
      lbldatabase: QUERY_DATABASE_LABEL

